body{
    margin: 0;
    padding: 0;
}
/* Header */
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

header nav li{
    float: left;
}
header nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav li a:hover{
    background-color: #111;
}
.active {
    background-color: #04AA6D;
  }

.logo{
    color: #04AA6D;
    font-family: 'Times New Roman', Times, serif;

}
section{
    height: 100vh;
}
.home{
    background-color: #04AA6D;
    margin: 0 0;
    margin-top: -20px;
}
.about{
    padding-left: 20px;
    height: 90vh;
}
/* PROJECTS SECTION */
.projects{
    background-color: #333;
}
.title h2{
	color: white;
	font-size: 50px;
	text-align: center;

}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.card{
	height: 400px;
	width: 300px;
	padding: 20px 35px;
	background: #fff;
	border-radius: 30px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
button
{
    width: 200px;
    background: #333;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
}
button:hover{
    background-color: #04AA6D;
}
img{
    display: flex;
    width: 100%;
}
h1{
    color: #04AA6D;
    font-weight: 900;
    text-align: center;
}
/* SERVICES */
.services{
    height: 70vh;
}
  .services-container{
    position: relative;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    color: aliceblue;
  }
  .services-card{
    position: relative;
    max-width: 300px;
    height: 200px;
    border-radius: 50px;
    background-color: #04AA6D;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
  }
  .services-content, .services-content a{
    position: relative;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
  }
/* CONTACT SIDE  */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactForm
{
    width: 50%;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #04AA6D;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    resize: vertical;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #333;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #04AA6D;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 200px;
    background: #333;
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.contactForm .inputBox input[type="submit"]:hover{
    background-color: #04AA6D;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #04AA6D;
    height: 10vh;
    font-size: 20px;
    color: white;
}